.header {
  text-align: center;

}

.header p {
  min-width: 30%;
  max-width: 30%;
  margin: 0 auto;
  line-height: 35px;
}

@media (max-width: 1500px) {
  .header p {
    min-width: 50%;
    max-width: 50%;
  }
}